<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Proyecto entregable n2</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/realtimeproducts">Productos</a>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <p>Hecho por Jeronimo Cardu</p>
      <a
        href="https://github.com/JeronimoCardu"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/github-6980894_1280.webp"
          alt="github account"
          style="width: 20px; border-radius: 50%;"
        />
      </a>
    </footer>
  </body>
</html>